SECRET_KEY=
DEBUG=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
CACHE_ENABLED=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
STRIPE_SECRET_KEY=
PRODUCTS_URL=
PRICES_URL=
SESSIONS_URL=