# core settings
SECRET_KEY=
DEBUG=
# database settings
NAME=
USER=
PASSWORD=
HOST=
PORT=
# smtp settings
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
# redis_settings
CACHE_ENABLED=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
# payment api
STRIPE_SECRET_KEY=
PRODUCTS_URL=
PRICES_URL=
SESSIONS_URL=
# celery_settings
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=